:root{
    --red: red;
    --hover-red: #D60909;
    --green: green;
    --blue: blue;
    --white: white;
}
h1{
    margin-bottom: 40px;
}

.close-btn {
    background-color: var(--red);
    color: var(--white);
    margin-left: 94%;
    border: 0px;
    border-radius: 4px;
}

.close-btn:hover {
    background-color: var(--hover-red);
}

#addForm {
    padding: 15px 25px;
}

#updateForm {
    padding: 15px 25px;
}

#mydiv {
    position: relative;
    margin-left: 200px;
}
#warnings{
    margin-left: 200px;
}
#validation-errors{
    color: var(--red);
}

.college-details {
    position: absolute;
    left: 460px;
    border-style: none;
    background-color: rgb(199, 242, 250);
    border-left: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
    padding: 0px 5px;
    min-width: 200px;
    border-radius: 5px;
    visibility: hidden;
}

#search {
    margin-left: 334px;
}

#pg-links {
    margin-left: -50px;
}
